# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Logs
logs/

# Manim outputs
static/animations/*.mp4
static/animations/*.json
static/animations/videos/*.mp4
static/animations/texts/*.svg
media/
temp_files/


# OS/Editor
.DS_Store
Thumbs.db
.vscode/
